build/
build-*/
cmake-build-*/
install/

__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

.venv/
venv/

_dist/
dist/
*.egg-info/
*.whl
*.tar.gz

.vscode/
.idea/

*.log
*.tmp
*.bak
*.zip
